
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.row {
    padding: 5%;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}
.navbar-toggler-icon{
    color: #fff !important;
    font-size: 24px;
}
.navbar-toggler{
    outline: none !important;
    border: none !important;
    color: #fff;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.nav-item {
    padding: 0 10px;
    text-transform: uppercase;
}

.nav-link {
    color: #ffff !important;
    font-weight: 600 !important;
}

.navbar-toggler-icon {
    color: white !important;
    /* font-size: 30px; */
}

/* banner section */

#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #ffff;
}

.promo-title {
    color: #ffff;
    font-size: 48px;
    font-weight: 600;
    margin-top: 100px;
}

.bottom-img {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Services section */

#services {
    padding: 80px 0;
}

.services img {
    width: 100px;
    margin: 20px 0;
}

.services {
    padding: 20px;
}

.services h4 {
    text-transform: uppercase;

}

.title {
    text-transform: uppercase;
}

/* .title::before {
    content: '';
    background: #7b1798;
    margin: 0 auto;
    height: 5px;
    width: 200px;
    transform: translateY(63px);
    display: block;

} */

.title::after {
    content: '';
    background: #7b1798;
    margin: 0 auto;
    height: 5px;
    width: 50%;
    transform: translateY(8px);
    display: block;

}

.btn-primary {
    box-shadow: none;
    border: none !important;
    border-radius: 20px !important;
    padding: 8px 25px !important;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

/* about section */

#about {
    background-color: #f8f9fa;
    /* padding-top: 40px; */
}
.aoubtTitle {
    font-size: 24px;
    font-weight: 600;
}

#about ul li {
    margin: 10px 0;
}

/* testimonial section */

.testimonials {
    border-left: 4px solid #7b1798;
    margin: 50px 0;
}

.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.userDetails {
    display: inline-block;
    font-size: 12px;
}

/* social media section */

#socialMedia {
    background-color: #f8f9fa;
    padding: 100px 0;   
}
#socialMedia p {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}

.socialIcons img {
    width: 60px;
    transition: 0.5s;
}

.socialIcons a:hover img {
    transform: translateY(-10px);
    width: 70px;
}

/* footer Section */

#footer {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #ffff;
}
.footerBox{
    padding: 20px;
}
#footer > img {
    width: 100%;
    /* padding-bottom: 20px; */
}

.footerBox img {
    width: 120px;
    margin-bottom: 20px;
}

.footerBox .fa {
    margin-right: 8px;
    font-size: 18px;
}

.formControl {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
}